{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
<h1 class="display-4">Index of C++ Examples</h1>

<p>This is an index of the C++ examples included with Cantera.</p>

{% for head, ex_dict in headers.items() %}
  <div class="section" id="cxx-example">
    <h2 class="cxx-example-header example-header">
      {{ ex_dict['name'] }}
      <a class="headerlink" href="#cxx-example" title="Permalink to this headline">¶</a>
    </h2>
    {% for row in ex_dict.names %}
    <div class="card-deck cxx-example-row example-row">
      {% for name in row %}
      <!-- <div class="col-sm-4"> -->
        <div class="card">
          <a href="{{ name }}.html"><h5 class="card-header">{{ ex_dict.titles[name] }}</h5></a>
          <div class="card-body">
            <p class="card-text">{{ ex_dict.summaries[name] }}</p>
          </div>
        </div>
      <!-- </div> -->
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block sourcelink %}
{% if source_link and show_sourcelink %}
    {{ ui.show_sourcelink(source_link) }}
{% endif %}
{% endblock %}
