{% extends "base.tmpl" %}

{% block extrahead %}
{{ super() }}
<base href="{{ blog_url }}" />
{% endblock %}

{% block content %}
<h2>{{ post.meta('errdesc') }}</h2>
<p class="lead">{{ post.meta('description') }}</p>
{{ post.text() }}
<p>
  If you clicked a link on cantera.org and ended up here, please <a
  href="https://github.com/Cantera/cantera-website/issues/new">file an issue</a> on the GitHub
  repository for this website.
</p>
{% endblock %}
