{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
<h1>Index of Fortran Examples</h1>

<p>This is an index of the Fortran examples included with Cantera.</p>

{% for head, file_dict in headers.items() %}
  <div class="section" id="fortran-example">
    <h2 class="fortran-example-header example-header">
      {{ file_dict['name'] }}
      <a class="headerlink" href="#fortran-example" title="Permalink to this headline">¶</a>
    </h2>
    {% for row in file_dict['files'] %}
    <div class="card-deck fortran-example-row example-row">
      {% for file in row %}
      {% set fname = file.name %}
      <!-- <div class="col-sm-4"> -->
        <div class="card">
          <a href="{{ fname }}.html"><h5 class="card-header">{{ fname }}</h5></a>
          <div class="card-body">
            <p class="card-text">{{ file_dict['summaries'][fname] }}</p>
          </div>
        </div>
      <!-- </div> -->
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block sourcelink %}
{% if source_link and show_sourcelink %}
    {{ ui.show_sourcelink(source_link) }}
{% endif %}
{% endblock %}
