{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
<h1>Index of Jupyter Notebook Examples</h1>

<p>Cantera examples in the form of <a href="https://jupyter.org" title="Jupyter">Jupyter</a>
notebooks. To see the rendered notebooks, browse the files below.</p>

<p><strong>Existing Cantera users</strong>: If you have Cantera and the Jupyter Notebook server
installed on your local machine, simply download any Jupyter notebook by clicking the "Source" link
at the top of each example page and you should be able to run it.</p>

<p><strong>New Cantera Users</strong>: If you don't have an existing Cantera installation and you
just want to experiment, you can give Cantera a test drive in the cloud. Click on the Binder link
below to launch an interactive environment where you can run these examples. For this, there is no
installation required, but you cannot save and resume your work.</p>

<a href="https://mybinder.org:/repo/cantera/cantera-jupyter" rel="nofollow">
  <img src="https://camo.githubusercontent.com/70c5b4d050d4019f4f20b170d75679a9316ac5e5/687474703a2f2f6d7962696e6465722e6f72672f62616467652e737667" alt="Binder" data-canonical-src="https://mybinder.org/badge.svg" style="max-width:100%;">
</a>

<h2> Tables Of Content </h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card" id="python-docs">
      <div class="card-header section-card">
        Thermodynamics
      </div>
		<div class="list-group list-group-flush">
			<a href="https://cantera.org/examples/jupyter/thermo/flame_temperature.ipynb.html" class="list-group-item docs"> 
			flame_temperature.ipynb
			</a>
			<a href="https://cantera.org/examples/jupyter/thermo/heating_value.ipynb.html" class="list-group-item docs"> 
			heating_value.ipynb 
			</a>
		</div>
	  <div class="card-header section-card">
        Reactor Networks 
      </div>
		<div class="list-group list-group-flush">
			<a href="https://cantera.org/examples/jupyter/reactors/1D_pfr_surfchem.ipynb.html" class="list-group-item docs"> 
			1D_pfr_surfchem.ipynb
			</a>
			<a href="https://cantera.org/examples/jupyter/reactors/batch_reactor_ignition_delay_NTC.ipynb.html" class="list-group-item docs"> 
			batch_reactor_ignition_delay_NTC.ipynb 
			</a> 
			<a href="https://cantera.org/examples/jupyter/reactors/NonIdealShockTube.ipynb.html" class="list-group-item docs"> 
			NonIdealShockTube.ipynb 
			</a>
			<a href="https://cantera.org/examples/jupyter/reactors/stirred_reactor.ipynb.html" class="list-group-item docs"> 
			stirred_reactor.ipynb
			</a>
		</div>
	  <div class="card-header section-card">
        One-Dimensional Flames 
      </div>
		<div class="list-group list-group-flush">
			<a href="https://cantera.org/examples/jupyter/thermo/flame_temperature.ipynb.html" class="list-group-item docs"> 
			flame_speed_with_sensitivity_analysis.ipynb 
			</a>
			<a href="https://cantera.org/examples/jupyter/flames/twin_premixed_flame_axisymmetric.ipynb.html" class="list-group-item docs"> 
			twin_premixed_flame_axisymmetric.ipynb
			</a>
		</div>
    </div>
  </div>
 </div>

{% block sourcelink %}
{% if source_link and show_sourcelink %}
    {{ ui.show_sourcelink(source_link) }}
{% endif %}
{% endblock %}
