{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
{% if code %}
<h1>{{ title }}
    {% if source_link %}
        <small><a href="{{ source_link }}">({{ messages("Source") }})</a></small>
    {% endif %}
    </h1>
    {{ code }}
{% endif %}
{% endblock %}

{% block sourcelink %}
{% if source_link and show_sourcelink %}
    {{ ui.show_sourcelink(source_link) }}
{% endif %}
{% endblock %}
