{#  -*- coding: utf-8 -*- #}
{% import 'math_helper.tmpl' as math with context %}
{% extends 'post.tmpl' %}

{% block content %}
<article class="post-{{ post.meta('type') }} storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
    {{ math.math_scripts_ifpost(post) }}
</article>
{% endblock %}
