{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
<h1 class="display-4">Index of Python Examples</h1>

<p>This is an index of Python examples included with Cantera.</p>

<p>Cantera's Python examples can be downloaded by clicking the "Source" link at the top
of each example page.</p>

<h3>Table of Contents</h3>
<ul>
{% for head, file_dict in headers.items() %}
<li><a href="#python-example-{{ head }}" title="Python {{ file_dict['name'] }} Examples">{{ file_dict['name'] }}</a></li>
{% endfor %}
</ul>

{% for head, file_dict in headers.items() %}
  <div class="section" id="python-example-{{ head }}">
    <h3 class="python-example-header example-header">
      {{ file_dict['name'] }}
      <a class="headerlink" href="#python-example-{{ head }}" title="Permalink to this headline">¶</a>
    </h3>
    {% for row in file_dict['files'] %}
    <div class="card-deck python-example-row example-row">
      {% for file in row %}
      {% set fname = file.name %}
        <div class="card">
          <a href="{{ head }}/{{ fname }}.html"><h5 class="card-header">{{ fname }}</h5></a>
          <div class="card-body">
            <p class="card-text">{{ file_dict['summaries'][fname] }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block sourcelink %}
{% if source_link and show_sourcelink %}
    {{ ui.show_sourcelink(source_link) }}
{% endif %}
{% endblock %}
