Nikola[extras]==8.2.1
yapsy==1.11.*
attrs>=17.4.0
Markdown==3.3.7
pymdown-extensions==5.0
GitPython>=3.0.5,<4.0
Pygments>=2.7.0
nbconvert==6.5.1
nbformat>=5.2.0
# Pin until the bootstrap.py plugin here can be updated.
# Something with docutils==0.17 broke that plugin
docutils==0.16
# Pin until nbconvert is updated to suport jinja2>=3.1.0
jinja2>=3.0.3,<3.1.0
scons>=3.0.0
