#logo { width: 250px; }
#cards { padding-bottom: 5%; }
.jumbotron-text { text-align: center; padding-bottom: 32px; }
.jumbotron { background-color: white; margin-top: 30px; margin-bottom: 0px; padding: 48px 0; }
.img-container { text-align: center; }

a.headerlink { visibility: hidden; padding: 0 4px 0 4px; }
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink {
    visibility: visible;
}

.example-header { padding: 20px 0; }
.example-row { padding-bottom: 20px; }

.tutorials { margin: 40px 0; padding: 0 0 !important; }

section { margin-top: 20px; margin-bottom: 0px; padding: 10px 0; }

a.docs:hover { background-color: #007994; color: #ffffff; }
a.docs { color: #000000; }
